@import 'https://fonts.googleapis.com/css?family=Open+Sans&display=swap';

html
{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;;
}
/*-------------header-----------*/
header,#header
{
    background-image: url("../media/death-stranding-cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    top: 40px;
    left: 40px;
    background-position: 40% 10%;
}
header div#felirat
{
    background: rgba(255, 255, 255, 0.6);
    width: 400px;
    margin: 10px;
    padding: 0 10px 0 10px;
    position: absolute;
    top: 400px;
    left: 30px;
    z-index: 1;
}

#index nav .index,#szereplo nav .szereplok, #fogadtatas nav .kritika, #hozzaszolas nav .velemeny{
    font-size: 2em;
    color: #265a88;
    border-left: 1px dotted black;
    padding: 0 10px;
}
#index .nav .index,#szereplo .nav .szereplok, #fogadtatas .nav .kritika, #hozzaszolas .nav .velemeny{
    font-size: 2em;
    color: #265a88;
    border-left: 1px dotted black;
    padding: 0 10px;
}
.fejlec
{
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
     column-span: all;
 }
strong
{
    color: #5c0819;
    font-weight: bold;
}
header nav ul li , #header .nav ul li
{
    display: inline;
    white-space: nowrap;
}

header nav a, #header .nav a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5em;
    margin-right: 1em;
}
nav#gyengenlato, #header .nav#gyengenlato  {
    position:relative;
    vertical-align:middle;
    float: right;
}
nav#gyengenlato strong,.nav#gyengenlato strong
{
    font-size:120%;
}
a#normalbetu {display: none}
/*------------main------------*/
main nav, #tartalom .nav
{

    text-align: right;
    margin-bottom: 20px;
}
main aside nav, #tartalom #aside .nav
{
    text-align: left;
    font-variant: small-caps;
    background-color: white;
    padding: 10px;
    margin: 0 10px 10px 20px;
    font-size: 24px;
}
main aside nav a, #tartalom #aside .nav a
{
    color: black;
    text-decoration: none;

}
a[href="#fomenu"]
{
    text-decoration: none;
    transition: all .5s;
}
.modositott
{
    color: #265a88;
}
a
{
    transition: all .5s;
}
#tartalom a, #keszito a{
    color: #0000e0;
}

/* visited link */
article#forras a:visited{
    color: #34515e;
}
.article#forras a:visited  {
    color: #34515e;
}
/* visited link */
footer a:visited{
    color: #34515e;
}
#keszito a:visited {
    color: #34515e;
}
a:hover
{
    color: #265a88;
    text-decoration: underline;
}
#header a:hover
{
    color: #265a88;
    text-decoration: underline;
}
#tartalom a:hover
{
    color: #265a88;
    text-decoration: underline;
}
#keszito a:hover
{
    color: #265a88;
    text-decoration: underline;
}
.rejtett {position:absolute; left:-9999px;}

h1,h2,h3
{
    text-shadow: 3px 3px 3px #ccc;
}
h3
{
    text-align: center;
}
p
{
    text-align: left;
}
section, .section
{
    border-top: 1px solid #ccc;
    padding: 20px;
}

.oszlopos, div .oszlopos
{

    column-width: 400px;
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}
figure , .figure{
    position: relative;
}
figure img , .figure img {
    display: block;
    width: 100%;
}
figcaption, .figcaption {
    background: black;
    color: #FFF;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.responsive
{
    width: 100%;
    height: auto;
}
.underline
{
    text-decoration: underline;
}
.center
{
    text-align: center;
}
video {
    display: block;
    margin: auto;
    width:100%;
}
main,footer, #tartalom,#keszito
{
    width: 70%;
/*    min-width: 400px;*/
    max-width: 2000px;
    margin: 0 auto;
}
article#osszefoglalo, .article#osszefoglalo
{
    border-top: 1px solid #ccc;
    padding: 20px;
}
article#forras,.article#forras
{
    border-top: 1px solid #ccc;
    padding: 20px;
}
article#dijak table
{
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
}
article#dijak table th {
    background-color: #383838;
    color: white;
    font-weight: bold;
 }
article#dijak table td
{
    border-bottom: 1px solid #383838;
    padding: 5px;
}
caption{caption-side: bottom}

legend
{
    font-size: 120%;
    font-weight: bold;
    color: #265a88;
}
fieldset
{
    border: none;
}

/* Style inputs, select elements and textareas */
input[type=text],input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
}

input[type=submit] {
    width: 10%;
    min-width: 100px;
    background-color: #265a88;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #34515e;
}
input[type=reset] {
    width: 10%;
    min-width: 100px;
    background-color: #aa0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #5c0819;
}

/* Slideshow container */

/*------------footer------------*/
footer address, #keszito #address
{
    text-align: center;
}

@media screen and (max-width: 900px) {
    header nav#fomenu a, #header .nav#fomenu a{
        float: none;
        display: block;
        text-align: left;
    }
    #gyengenlato
    {
        display: block;
    }
    header div#felirat, #header div#felirat
    {
        width: 150px;
    }
    main, #tartalom
    {
        margin: 5px;
        width: auto;
    }
    figure, .figure
    {
        font-size: 80%;
    }

    header nav ul,  #header .nav ul
    {
        padding: 0;
    }
}
@media screen and (max-width: 500px) {
 .kicsi
 {
     display: none;
 }
}
@media print {
    body{
        font-family: "Times New Roman",Serif;
        margin: 3cm;
        max-width: unset;
        margin: 0 auto;
    }
    video
    {
        display: none;
    }
    header,#header
    {
        display:none;
    }
    main, footer, #tartalom, #keszito
    {
        width: 100%;
        padding: 0;
        max-width: unset;
    }
    .section {page-break-after: always}
    h1 {page-break-before: always}
    nav, .nav {display: none}
    a:after{content: "(" attr(href) ")";}
    article, .article {page-break-before: auto}

}